<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:ui="http://schemas.microsoft.com/wix/2006/wi/ui">
    
    <Product Id="*" 
             Name="고려대학교 수강신청" 
             Language="1033" 
             Version="1.0.0.0" 
             Manufacturer="Korea University" 
             UpgradeCode="PUT-GUID-HERE">
        
        <Package InstallerVersion="200" 
                 Compressed="yes" 
                 InstallScope="perMachine"
                 Description="고려대학교 수강신청 도우미 애플리케이션"
                 Comments="고려대학교 수강신청 시스템을 위한 Electron 기반 데스크톱 애플리케이션입니다." />
        
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />
        
        <Feature Id="ProductFeature" Title="고려대학교 수강신청" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
        
        <UIRef Id="WixUI_Minimal" />
        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />
        
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        
        <Icon Id="icon.ico" SourceFile="assets\icon.ico" />
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />
        
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch 고려대학교 수강신청" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
        
        <CustomAction Id="LaunchApplication" 
                     FileKey="고려대학교수강신청EXE" 
                     ExeCommand="" 
                     Return="asyncNoWait" />
        
        <UI>
            <UIRef Id="WixUI_Minimal" />
            <Publish Dialog="ExitDialog" 
                     Control="Finish" 
                     Event="DoAction" 
                     Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
        </UI>
        
    </Product>
    
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="고려대학교 수강신청" />
            </Directory>
        </Directory>
    </Fragment>
    
    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="고려대학교수강신청EXE" Guid="*">
                <File Id="고려대학교수강신청EXE" 
                      Name="고려대학교 수강신청.exe" 
                      Source="dist\고려대학교 수강신청-win32-x64\고려대학교 수강신청.exe" 
                      KeyPath="yes" />
            </Component>
            
            <Component Id="LICENSE" Guid="*">
                <File Id="LICENSEFILE" 
                      Name="LICENSE" 
                      Source="dist\고려대학교 수강신청-win32-x64\LICENSE" />
            </Component>
            
            <Component Id="LICENSES.chromium.html" Guid="*">
                <File Id="LICENSESCHROMIUMHTML" 
                      Name="LICENSES.chromium.html" 
                      Source="dist\고려대학교 수강신청-win32-x64\LICENSES.chromium.html" />
            </Component>
            
            <Component Id="chrome_100_percent.pak" Guid="*">
                <File Id="CHROME100PERCENTPAK" 
                      Name="chrome_100_percent.pak" 
                      Source="dist\고려대학교 수강신청-win32-x64\chrome_100_percent.pak" />
            </Component>
            
            <Component Id="chrome_200_percent.pak" Guid="*">
                <File Id="CHROME200PERCENTPAK" 
                      Name="chrome_200_percent.pak" 
                      Source="dist\고려대학교 수강신청-win32-x64\chrome_200_percent.pak" />
            </Component>
            
            <Component Id="d3dcompiler_47.dll" Guid="*">
                <File Id="D3DCOMPILER47DLL" 
                      Name="d3dcompiler_47.dll" 
                      Source="dist\고려대학교 수강신청-win32-x64\d3dcompiler_47.dll" />
            </Component>
            
            <Component Id="ffmpeg.dll" Guid="*">
                <File Id="FFMPEGDLL" 
                      Name="ffmpeg.dll" 
                      Source="dist\고려대학교 수강신청-win32-x64\ffmpeg.dll" />
            </Component>
            
            <Component Id="icudtl.dat" Guid="*">
                <File Id="ICUDTLDAT" 
                      Name="icudtl.dat" 
                      Source="dist\고려대학교 수강신청-win32-x64\icudtl.dat" />
            </Component>
            
            <Component Id="libEGL.dll" Guid="*">
                <File Id="LIBEGLDLL" 
                      Name="libEGL.dll" 
                      Source="dist\고려대학교 수강신청-win32-x64\libEGL.dll" />
            </Component>
            
            <Component Id="libGLESv2.dll" Guid="*">
                <File Id="LIBGLESV2DLL" 
                      Name="libGLESv2.dll" 
                      Source="dist\고려대학교 수강신청-win32-x64\libGLESv2.dll" />
            </Component>
            
            <Component Id="resources.pak" Guid="*">
                <File Id="RESOURCESPAK" 
                      Name="resources.pak" 
                      Source="dist\고려대학교 수강신청-win32-x64\resources.pak" />
            </Component>
            
            <Component Id="snapshot_blob.bin" Guid="*">
                <File Id="SNAPSHOTBLOBBIN" 
                      Name="snapshot_blob.bin" 
                      Source="dist\고려대학교 수강신청-win32-x64\snapshot_blob.bin" />
            </Component>
            
            <Component Id="v8_context_snapshot.bin" Guid="*">
                <File Id="V8CONTEXTSNAPSHOTBIN" 
                      Name="v8_context_snapshot.bin" 
                      Source="dist\고려대학교 수강신청-win32-x64\v8_context_snapshot.bin" />
            </Component>
            
            <Component Id="version" Guid="*">
                <File Id="VERSIONFILE" 
                      Name="version" 
                      Source="dist\고려대학교 수강신청-win32-x64\version" />
            </Component>
            
            <Component Id="vulkan-1.dll" Guid="*">
                <File Id="VULKAN1DLL" 
                      Name="vulkan-1.dll" 
                      Source="dist\고려대학교 수강신청-win32-x64\vulkan-1.dll" />
            </Component>
            
            <Component Id="vk_swiftshader.dll" Guid="*">
                <File Id="VKSWIFTSHADERDLL" 
                      Name="vk_swiftshader.dll" 
                      Source="dist\고려대학교 수강신청-win32-x64\vk_swiftshader.dll" />
            </Component>
            
            <Component Id="vk_swiftshader_icd.json" Guid="*">
                <File Id="VKSWIFTSHADERICDJSON" 
                      Name="vk_swiftshader_icd.json" 
                      Source="dist\고려대학교 수강신청-win32-x64\vk_swiftshader_icd.json" />
            </Component>
            
            <Component Id="locales" Guid="*">
                <File Id="LOCALESFOLDER" 
                      Name="locales" 
                      Source="dist\고려대학교 수강신청-win32-x64\locales" />
            </Component>
            
            <Component Id="resources" Guid="*">
                <File Id="RESOURCESFOLDER" 
                      Name="resources" 
                      Source="dist\고려대학교 수강신청-win32-x64\resources" />
            </Component>
            
            <Component Id="ShortcutDesktop" Guid="*">
                <Shortcut Id="DesktopShortcut" 
                          Directory="DesktopFolder" 
                          Name="고려대학교 수강신청" 
                          WorkingDirectory="INSTALLFOLDER" 
                          Icon="icon.ico" 
                          IconIndex="0" 
                          Advertise="yes" />
            </Component>
            
            <Component Id="ShortcutStartMenu" Guid="*">
                <Shortcut Id="StartMenuShortcut" 
                          Directory="ProgramMenuDir" 
                          Name="고려대학교 수강신청" 
                          WorkingDirectory="INSTALLFOLDER" 
                          Icon="icon.ico" 
                          IconIndex="0" 
                          Advertise="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
    
    <Fragment>
        <Directory Id="DesktopFolder" Name="Desktop" />
        <Directory Id="ProgramMenuFolder">
            <Directory Id="ProgramMenuDir" Name="고려대학교 수강신청" />
        </Directory>
    </Fragment>
    
</Wix>
